extends layout

block css
  link(rel='stylesheet', href='/css/about.css')

block content
  div(class='wrap')
    ul
      li 用户登录之后可进行订单预约
      li 每天只可预约本周内的订单，即周一可预约到本周五，周五只可预约一天，非工作日不能预约
      li 每周一到周五上午10:00更新「所有餐品列表」与「同事常点餐品列表」
      li 每周一到周五下午15:00脚本自动根据用户的预约点餐，如果用户没有预约，则随机从「同事常点餐品列表」中点取一份
      li 本脚本不保存用户的登录密码，只缓存cookie信息用于点餐
      li 点餐完成后，将会以企业微信的方式通知点餐结果
      li github地址：
        a(href='https://github.com/openart/meican' target='_blank') https://github.com/openart/meican
      
    