doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/common.css')
    link(rel='icon' href='/img/dish.svg' mce_href='/img/dish.svg' type='image/x-icon')
    link(rel='shortcut icon' href='/img/dish.svg' mce_href='/img/dish.svg' type='image/x-icon')

    block css
    div(class='headerpt')
      div(class='header bdr-bottom')= title
        span(class='js-click-menu')
          i
      div(class='head-menu hide' id='head_menu')
        ul(class='js-menu-list')
          li(href='/' class='home')
            i
            span 首页
          li(href='/order/reverse' class='reverse')
            i
            span 预约
          li(href='/user/reverse' class='my-reverse')
            i
            span 我的预约
          li(href='/user/info' class='basic-info')
            i
            span 基本信息
          li(href='/user/list' class='user-list')
            i
            span 用户列表
          li(href='/setting' class='setting')
            i
            span 设置
          li(href='/about' class='about')
            i
            span 关于
  body
    block content
    script(src='https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js')
    script(src='/js/common.js')
    block js
