extends layout

block css
  link(rel='stylesheet', href='/css/order_reverse_web.css')

block content
  section(class='wrap')
    div(class='opt')
      span 日期
      ul(class='date' id='date')
        - for (var i = 0; i < dates.length; ++i) {
            li(class= - i==0 ? "active" : "" value=dates[i].k) #{dates[i].v}
        - }
    div(class='opt')
      span 餐厅
      ul(id='dish')
        - for (var i = 0; i < dishs.length; ++i) {
            li(class= - i==0 ? "active" : "" value=dishs[i].uniqueId) #{dishs[i].name}
        - }
    ul(id='food_list' class='food-list')
  div(class='btn-wrap')
    a(class='btn_submit js-submit-food') 提交
block js
  script(src='/js/order_reverse_web.js')
