extends layout

block css
  link(rel='stylesheet', href='/css/order_reverse.css')

block content
  section(class='wrap')
    div(class='opt')
      span 日期
      select(class='date' id='date')
        - for (var i = 0; i < dates.length; ++i) {
            option(class='bdr-bottom' value=dates[i].k) #{dates[i].v}
        - }
    div(class='opt')
      span 餐厅
      select(id='dish')
        - for (var i = 0; i < dishs.length; ++i) {
            option(class='bdr-bottom' value= dishs[i].uniqueId) #{dishs[i].name}
        - }
    ul(id='food_list' class='food-list')
  div(class='btn-wrap')
    a(class='btn_submit js-submit-food') 提交
block js
  script(src='/js/order_reverse.js')
