extends layout

block css
  link(rel='stylesheet', href='/css/user_reverse.css')

block content
  - if (list.length > 0)
    ul(class='list')
      - for (var i = 0; i < list.length; ++i) {
          li(class='item bdr-bottom')
            i(class = list[i].checked ? 'checked' : '' class='js-cancel-favorite star' data-id=list[i].dish_id)
            ol(style='padding-left:24px')
              li
                span 餐品id：
                span #{list[i].dish_id}
              li
                span 餐品名称：
                span #{list[i].dish_name}
              li
                span 是否过期：
                span 否
      - }
  - else
    div(class='empty-list')
      img(src="/img/null.png")

block js
  script(src='/js/user_favorite.js')
