extends layout

block css
  link(rel='stylesheet', href='/css/user_reverse.css')

block content
  - if (list.length > 0)
    ul(class='list')
      - for (var i = 0; i < list.length; ++i) {
          li(class='item bdr-bottom')
            ol
              li
                span 时间：
                span #{list[i].date}
              li
                span 餐品id：
                span #{list[i].dish_id}
              li
                span 餐品名称：
                span #{list[i].dish_name}
      - }
  - else
    div(class='empty-list')
      div
