.wrap {
  padding: 16px;
  font-size: 14px;
  line-height: 18px;
  color: #25324e;
}

.wrap li {
  position: relative;
  padding: 6px 0 6px 12px;
}

.wrap li:before {
  position: absolute;
  content: '';
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px; 
  border-radius: 50%; 
  background: #25324e;
}