/* common */

.wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.rela {
  position: relative;
}

.abs {
  position: absolute;
}

.fixed {
  position: fixed;
}

.none {
  display: none;
}

.block {
  display: block;
}

.inline-b {
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.oh {
  overflow: hidden;
}

.oa {
  -webkit-overflow-scrolling: touch;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tj {
  text-align: justify;
}

.vm {
  vertical-align: middle;
}

.vt {
  vertical-align: top;
}

.vb {
  vertical-align: bottom;
}

.clear:after {
  content: ".";
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  clear: both;
}

.bdr-bottom,
.bdr-top,
.bdr-left,
.bdr-right,
.bdr {
  position: relative;
}

.bdr-bottom:after {
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 10;
  border-top: 1px solid #e0e0e0;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}

.bdr-top:before {
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid #e0e0e0;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}

.bdr-right:before {
  width: 1px;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 10;
  border-left: 1px solid #e0e0e0;
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
}

.bdr-left:before {
  width: 1px;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 10;
  border-right: 1px solid #e0e0e0;
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
}

.bdr:before {
  position: absolute;
  content: "";
  border: 1px solid #808080;
  border-radius: 2px;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  -webkit-box-sizing: border-box;
  width: 200%;
  height: 200%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input {
  -webkit-user-select: auto;
}

::-webkit-scrollbar {
  display: none;
}

.box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 业务相关*/

.headerpt {
  padding-top: 44px;
}

.headerpt .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  background: #fff;
  z-index: 99;
  user-select: none;
}

.headerpt .header span {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.headerpt .header span i {
  display: block;
  margin: 14px auto;
  width: 16px;
  height: 16px;
  background: url(../img/menu.svg) no-repeat;
  background-size: 100% 100%;
}

.headerpt .header span i.close {
  background: url(../img/close.svg) no-repeat;
  background-size: 100% 100%;
}

.headerpt .head-menu {
  position: fixed;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.headerpt ul {
  position: absolute;
  top: 0;
  padding-left: 16px;
  width: 100%;
  background: #fff;
}

.headerpt ul li {
  padding: 16px 0;
  font-size: 14px;
  line-height: 16px;
  color: #25324e;
  user-select: none;
  cursor: pointer;
}

.headerpt ul li i {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  vertical-align: top;
}

.headerpt ul li.home i {
  background: url(../img/home.svg) no-repeat;
  background-size: 100% 100%;
}

.headerpt ul li.reverse i {
  background: url(../img/reverse.svg) no-repeat;
  background-size: 100% 100%;
}

.headerpt ul li.my-reverse i {
  background: url(../img/my-reverse.svg) no-repeat;
  background-size: 100% 100%;
}

.headerpt ul li.my-favorite i {
  background: url(../img/favorite.svg) no-repeat;
  background-size: 100% 100%;
}

.headerpt ul li.basic-info i {
  background: url(../img/basic-info.svg) no-repeat;
  background-size: 100% 100%;
}

.headerpt ul li.user-list i {
  background: url(../img/user-list.svg) no-repeat;
  background-size: 100% 100%;
}

.headerpt ul li.setting i {
  background: url(../img/setting.svg) no-repeat;
  background-size: 100% 100%;
}

.headerpt ul li.about i {
  background: url(../img/about.svg) no-repeat;
  background-size: 100% 100%;
}

.headerpt ul li:hover {
  color: #9ec341;
}

.headerpt .head-menu.hide {
  display: none;
}

/*toast S*/

#normal-toast-tip {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10000;
}

.transition-opacity {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.toast-content {
  max-width: 80%;
  padding: 6px;
  display: inline-block;
  color: #ffffff;
  background-color: #000000;
  opacity: 0.6;
  font-size: 14px;
  line-height: 1.4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}