.list {
  padding-left: 16px;
  color: #25324E;
}

.list li {
  display: flex;
  display: -webkit-flex;
  padding: 16px 16px 16px 0;
  font-size: 14px;
  line-height: 16px;
  color: #25324E;
}

.list li span {
  line-height: 24px;
}

.list li .item-r {
  flex: 1;
}

.switch {
  position: relative;
  padding: 2px 0;
  width: 56px;
  height: 20px;
  color: #fff;
  overflow: hidden;
  background: #8B9AA3;
  border-radius: 12px;
}

.switch::before {
  position: absolute;
  top: 2px;
  left: 1px;
  content: '\a0\a0\a0\a0\a0OFF';
  line-height: 20px;
  transition: all .25s ease;
}

.switch::after {
  position: absolute;
  content: 'III';
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  color: #8B9AA3;
  line-height: 20px;
  text-align: center;
  transition: all .25s ease;
}

.switch.on {
  background: #468FCC;
  transition: all .25s ease;
}

.switch.on::before{
  content: '\a0ON\a0\a0\a0\a0\a0\a0\a0OFF';
  transition: all .25s ease;
}

.switch.on::after {
  position: absolute;
  content: 'III';
  top: 2px;
  left: 33px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  color: #8B9AA3;
  line-height: 20px;
  text-align: center;
  transition: all .25s ease;
}