.user-list{
    padding: 16px 0 0 16px;
}
.user-list li {
    display: flex;
    display: -webkit-flex;
    padding: 16px 16px 16px 0;
    color: #25364e;
    font-size: 14px;
    line-height: 16px;
}
.user-list li span {
    display: block;
    color: #25324e;
}

.user-list li div {
    flex: 1;
    text-align: right;
}